*{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    background-color: black;
}

.tophead{
    background-image: url(assets/images/hero.jpg);
    background-size: max(1400px,100vw);
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px;
    
}

.tophead .opacity{
    background-color: black;
    height: 700px;
    width: 100%;
    position: absolute;
    top: 0px;
    opacity: 0.79;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    width: 82vw;
    margin: auto;
    padding-top: 25px;
    position: relative;
    justify-content: space-between;
    background-color: transparent;
    z-index: 2;
    
    
}

.navbuttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.langselect{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    width: 110px;
    height: 35px;
}

.langselect select{
    outline: none;
    background-color: rgb(24, 21, 21);
    border: none;
    font-weight: bold;
    height: fit-content;

}

.signInButton button{
    outline: none;
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: none;


}

main {
    position: relative;
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:130px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 15px;

}

main .head1 h1{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;

}

main .head2 p{
    font-size: 16px;
    font-weight: bold;

}


main .head3 p{
    padding-top: 15px;
    text-align: center;

}
.bttns{
    display: flex;
    gap: 10px;
}

.bttns input{
    background-color: transparent;
    width: 330px;
    height: 55px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 10px;
}


.bttns button{
    background-color: red;
    width: 200px;
    height: 55px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}












/* Media Querries */


@media screen and (width <= 960px){
    main{
        width: 470px;
    }
    .navbar{
        width: 93vw;
    }
    .navbar img{
        width: 90px;
    }
    main .head1 h1{
        font-size: 32px;
    }
    main .head2 p{
        font-weight: 600;
    }
    main{
        gap: 6px;
    }
    .bttns input{
        width: 250px;
    }
    .bttns button{
        width: 174px;
    }
    .langselect{
        height: 24.32px;
    }
    .navbuttons{
        height: 24.32px;
    }
    
}




@media screen and (width <= 600px){
    main{
        width: 90vw;
    }
    .bttns{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bttns input{
        width: 90vw;
        height: 45px;
    }
    .bttns button{
        width: 160px;
        height: 45px;
        
    }
    .langselect{
        width: 60px;
        
    }
    .langselect select{
        width: 20px;
    }
}

@media screen and (width >= 1280px){
    .navbar{
        width: 75vw;
    }
    main{
        width: 570px;
    }
    main .head1 h1{
        font-size: 56px;
        font-weight: bolder;
    }
    main .head2 p{
        font-weight: 500;
        font-size: 20px;
    }
}